/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
  padding: 21px 26px 19px 27px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16.6px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.fond-image {
  background-image: url(../img/ligne-de-code.png);
  border: 2px solid white;
}

header {
  padding: 56px 81px 27px 30px;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif; 
  font-size: 19px;
}

.titre-principale {
  color: #2afca6;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

header p {
  color: white;
}

div {
  background-color: #2afca6;
  padding: 32px 36px 51px 31px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0e6647;
  font-size: 16.5px;
}

article {
  margin-bottom: 20px;
  background-color: white;
  padding: 30px;
}

figure {
  margin: 0px; 
  /* box-shadow: 7px 7px 7px 7px #a9a9a9; */
}

.post-info {
  font-size: 12px;
  color: #a9a9a9;
}

.date {
  color: black;
}

.author {
  color: #2afca6;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  padding: 14px 30px 9px 10px;
}

.button {
  margin-top: 34px; 
  font-family: 'Open Sans', sans-serif;
}
